{% extends 'app.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-8">
                <div class="card p-4">
                    <div class="row">
                        <div class="col-12">
                            <div class="card ">
                                <div class="card-header" align="center">
                                    Dernier(s) clients ajouté
                                </div>
                                <div class="card-body p-2">
                                    {% if app.user.getCompany.getClients is not null %}
                                    <table class="table">
                                        <thead class="table-dark">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>N° de téléphone</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in app.user.getCompany.getClients|reverse|slice(0, 5) %}
                                            <tr>
                                                <td>{{ client.getName }}</td>
                                                <td>{{ client.getSurname }}</td>
                                                <td>{{ client.getPhone }}</td>
                                                <td><a href="{{ path('app_client_edit', {id: client.getId}) }}" class="btn btn-secondary btn-sm">Consulter</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                                <div class="card-footer" align="center">
                                    <a href="{{ path('app_client_add') }}" class="btn btn-outline-success btn-sm">Ajouter un client</a>
                                    <a href="{{ path('app_client_list') }}" class="btn btn-outline-warning btn-sm">Liste des clients</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-4">
                            {% if articles is not empty %}
                                <h3 align="center">Nos derniers articles</h3>
                                {% for article in articles %}
                                    <div class="card mt-2">
                                        <div class="card-body">
                                            <strong style="text-overflow: ellipsis;">{{ article.getTitle }}</strong>
                                            <br>
                                            <div align="right">
                                                <a href="{{ path('app_article_view', {article: article.getId}) }}" class="btn btn-outline-primary">Lire l'article</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h3>Aucun Articles n'est actuellement disponible</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card">
                    <div class="p-5">
                        <h2>Vos demandes de renseignements :</h2>
                        {% if app.user.getCompany.getSupportTickets is not null %}
                            <table class="table">
                                <thead class="table-dark">
                                <tr>
                                    <th>Titre</th>
                                    <th>Consulter</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for supportTicket in app.user.getCompany.getSupportTickets|reverse|slice(0, 5) %}
                                    <tr>
                                        <td>{{ supportTicket.getTitle }}</td>
                                        <td><a href="{{ path('app_support_ticket_edit', {ticket: supportTicket.getId}) }}" class="btn btn-secondary btn-sm">Consulter</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p align="center">Aucune demande éffectué pour le moment</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
