{% extends 'app.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card p-1">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="card border-info">
                                <div class="card-header bg-info" align="center">
                                    Dernier(s) clients ajouté
                                </div>
                                <div class="card-body p-2" style="overflow-x: auto;">
                                    {% if app.user.getCompany.getClients is not null %}
                                    <table class="table table-bordered">
                                        <thead class="table-dark">
                                        <tr>
                                            <th>Nom</th>
                                            <th>Prénom</th>
                                            <th>N° de téléphone</th>
                                            <th>Fiche</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for client in app.user.getCompany.getClients|reverse|slice(0, 5) %}
                                            <tr>
                                                <td>{{ client.getName }}</td>
                                                <td>{{ client.getSurname }}</td>
                                                <td>{{ client.getPhone }}</td>
                                                <td><a href="{{ path('app_client_edit', {id: client.getId}) }}" class="btn btn-secondary btn-sm">Consulter</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                                <div class="card-footer bg-info" align="center">
                                    <a href="{{ path('app_client_add') }}" class="btn btn-success ">Ajouter un client</a>
                                    <a href="{{ path('app_client_list') }}" class="btn btn-warning ">Liste des clients</a>
                                </div>
                            </div>
                        </div>


                        <!-- tache -->
                        <div class="col-12 col-lg-4">
                            <div class="p-5">
                                <h2>Tâche(s) en cours :</h2>
                                {% if tasks is not empty %}
                                    <table class="table table-bordered">
                                        <thead class="table-info">
                                        <tr>
                                            <th>Libellé</th>
                                            <th>Terminer</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for task in tasks %}
                                            <tr class="{{ task.getTableClass }}">
                                                <td>{{ task.getName }}</td>
                                                <td><a href="{{ path('app_task_end', {task: task.getId}) }}" class="btn btn-primary btn-sm">Terminer</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot class="table-info">
                                        <tr>
                                            <td colspan="2" align="center">
                                                <a href="{{ path('app_task_add') }}" class="btn btn-outline-success">Créer</a>
                                                <a href="{{ path('app_task_list') }}" class="btn btn-outline-secondary">Liste</a>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                {% else %}
                                    <p align="center">Aucune tâche prévue pour le moment</p>
                                    <div align="right">
                                        <a href="{{ path('app_task_add') }}" class="btn btn-outline-success">Créer une tâche</a>
                                    </div>

                                {% endif %}
                            </div>
                        </div>

                        <!-- renseignement -->
                        <div class="col-12 col-lg-4 mt-4">
                            <div class="">
                                <h2>Questions (S.A.V) :</h2>
                                {% if app.user.getCompany.getSupportTickets is not empty %}
                                    <table class="table table-bordered">
                                        <thead class="table-dark">
                                        <tr>
                                            <th>Titre</th>
                                            <th>Consulter</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for supportTicket in app.user.getCompany.getSupportTickets|reverse|slice(0, 4) %}
                                            <tr>
                                                <td>{{ supportTicket.getTitle }}</td>
                                                <td><a href="{{ path('app_support_ticket_edit', {ticket: supportTicket.getId}) }}" class="btn btn-secondary btn-sm">Consulter</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>

                                    </table>
                                {% else %}
                                    <p align="center">Aucune demande éffectué pour le moment</p>
                                {% endif %}
                            </div>
                        </div>

                    <!-- paiements -->

                    <div class="col-12 col-lg-8 mt-4">
                        <div class="card border-info">
                            <div class="card-header bg-info " align="center">
                                Rappel des prochains paiements de contrat
                            </div>
                            <div class="card-body p-2" style="overflow-x: auto;">
                                {% if contracts is not empty %}
                                    <table class="table table-bordered">
                                        <thead class="table-dark">
                                        <tr>
                                            <th>Titre</th>
                                            <th>Date du prochain paiement</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for contract in contracts%}
                                            <tr>
                                                <td><a href="{{ path('app_client_contract_edit', {contract: contract.id}) }}">{{ contract.title }}</a></td>
                                                <td>{{ contract.next_payment_at|date('d/m/Y') }}</td>
                                                <td><a href="{{ path('app_client_contract_nextpayment', {contract: contract.id, redirection: 0}) }}" class="btn btn-success btn-sm">paiement reçu</a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>

                                {% else %}
                                    <h3 align="center">Aucun paiement prévue</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
        <!-- Plannig -->

                    <div class="col-12 mt-5">
                        <div align="center">
                            <h2>Planning de la semaine</h2>
                        </div>
                        <div class="" style="overflow-x: auto;">
                            <table class="table table-bordered" >
                                <thead class="table-info">
                                <tr>
                                    <th style="min-width: 400px;">Lundi</th>
                                    <th style="min-width: 400px;">Mardi</th>
                                    <th style="min-width: 400px;">Mercredi</th>
                                    <th style="min-width: 400px;">Jeudi</th>
                                    <th style="min-width: 400px;">Vendredi</th>
                                    <th style="min-width: 400px;">Samedi</th>
                                    <th style="min-width: 400px;">Dimanche</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for day in planning %}
                                        <td>
                                            {% for intervention in day %}
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                {{ intervention.getStartAt|date('H:i') }}
                                                            </div>
                                                            <div class="col-8">
                                                                <a href="{{ path('app_intervention_view', {intervention: intervention.getId}) }}" class="link-secondary">{{ intervention.getTitle }}</a>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
