{% extends 'app.html.twig' %}

{% block title %}Ajouter une Facture {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form_invoice) }}
            {{ form_errors(form_invoice) }}
            <h2 class="p-2"> Ajouter une facture au client {% if client.getSurname is not empty or client.getName is not empty %} [{{ client.getSurname}} {{ client.getName }} {% endif %}] :</h2>
            <div class="row">
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_invoice.name) }}
                </div>
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_invoice.price) }}
                </div>
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_invoice.state) }}
                </div>
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_invoice.filename) }}
                </div>
                <div class="col-12 mt-2">
                    {{ form_row(form_invoice.contract) }}
                </div>
            </div>

            <div class="p-2" align="center">
                <input type="submit" value="Ajouter au client" class="btn btn-primary">
            </div>


            {{ form_end(form_invoice) }}
        </div>
    </div>

{% endblock %}
