<html>
<head>
    <meta charset="UTF-8">
    <title>Code de connexion</title>
</head>
<body>
<h4>Code de connexion à LERECM</h4>
<div>
    <div>
        L'entreprise {{ company.getName }} utilise L.E.R.E.C.M pour structurer et organiser son fichier client.
        Parmis les fonctionnalitées de L.E.R.E.C.M, la création d'un espace dédié pour chaque client est disponible. {{ company.getName }} vous a donc crée un compte
        personnelle afin que vous puissiez visionner et télécharger à n'importe quel moment tous les documents que vous fournira l'entreprise.
    </div>
    <h2>Vos informations :</h2>
    <ul>
        {% if client.getSurname is not null %}
            <li>Nom : {{ client.getSurname }}</li>
        {% endif %}
        {% if client.getName is not null %}
            <li>Prénom : {{ client.getName }}</li>
        {% endif %}
        {% if client.getBirthday is not null %}
            <li>Date de naissance : {{ client.getBirthday|date('j/m/Y') }}</li>
        {% endif %}

        {% if client.getIsCompany %}
            {% if client.getCompanyName is not null %}
                <li>Entreprise : {{ client.getCompanyName }}</li>
            {% endif %}
            {% if client.getSiret is not null %}
                <li>N° Siret : {{ client.getSiret }}</li>
            {% endif %}
        {% endif %}
    </ul>
    <h2>Information de connexion </h2>
    <ul>
        <li>Identifiant : {{ userClient.getUuid }}</li>
        <li>Mot de passe : {{ password }}</li>
    </ul>
    <div>
        Si vous ne souhaitez plus/pas avoir de compte client, veuillez en faire parvenir à l'entreprise.
    </div>
</div>
</body>
</html>