{% extends 'app.html.twig' %}

{% block title %}Fiche Client{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form_client) }}
                {{ form_errors(form_client) }}
                <h2 class="p-2"> Informations importantes :</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4 mt-2">
                        {{ form_row(form_client.surname) }}
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 mt-2">
                        {{ form_row(form_client.name) }}
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4 mt-2">
                        {{ form_row(form_client.birthday) }}
                    </div>
                </div>
                <h2 class="p-2"> Coordonnées :</h2>
                <div class="row">
                    <div class="col-12 col-sm-6 mt-2">
                        {{ form_row(form_client.phone) }}
                    </div>
                    <div class="col-12 col-sm-6 mt-2">
                        {{ form_row(form_client.home_phone) }}
                    </div>
                    <div class="col-12 mt-2">
                        {{ form_row(form_client.email) }}
                    </div>
                </div>
                <h2 class="p-2"> Localisation :</h2>
                <div class="row">
                    <div class="col-12 mt-2">
                        {{ form_row(form_client.avenue) }}
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        {{ form_row(form_client.postal_code) }}
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        {{ form_row(form_client.city) }}
                    </div>
                    <div class="col-12 col-sm-4 mt-2">
                        {{ form_row(form_client.country) }}
                    </div>
                </div>
                <div class="p-3">
                    {{ form_row(form_client.is_company) }}
                </div>
                <div id="company_row">
                    <h2 class="p-2">Informations Entreprise :</h2>
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-2">
                            {{ form_row(form_client.company_name) }}
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            {{ form_row(form_client.siret) }}
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            {{ form_row(form_client.ape_code) }}
                        </div>
                        <div class="col-12 col-sm-6 mt-2">
                            {{ form_row(form_client.tva_code) }}
                        </div>
                    </div>
                </div>

                <h2>Informations complémentaires : </h2>
                {{ form_row(form_client.note) }}

                <div class="p-2" align="center">
                    <input type="submit" value="Modifier le client" class="btn btn-primary" >
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Supprimer
                    </button>
                    {% if not userClient %}
                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#generateModale">
                            Générer un compte client
                        </button>
                    {% else %}
                        <a href="#" class="btn btn-success">Télécharger la fiche de connexion client</a>
                    {% endif %}

                </div>


            {{ form_end(form_client) }}
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Demande de confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment supprimer ce client ? Aucun retour en arrière ne sera possible...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('app_client_delete', {id: clientId}) }}" class="btn btn-danger">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
    {% if not userClient %}
    <div class="modal fade" id="generateModale" tabindex="-1" aria-labelledby="exampleModaleLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Générer un compte client</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Voulez-vous vraiment générer un compte pour ce client ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <a href="{{ path('app_client_generate_account', {id: clientId}) }}" class="btn btn-warning">Générer</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {{ encore_entry_script_tags('add_client_js') }}
{% endblock %}
