{% extends 'admin.html.twig' %}

{% block title %}Modifier un contrat{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form_subscription) }}
            {{ form_errors(form_subscription) }}
            <h2 class="p-2"> Informations importantes :</h2>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-6 mt-2">
                    {{ form_row(form_subscription.subscription_access) }}
                </div>
                <div class="col-12 col-sm-6 col-lg-6 mt-2">
                    {{ form_row(form_subscription.end_at) }}
                </div>
            </div>

            <div class="p-2" align="center">
                <input type="submit" value="Modifier l'abonnement" class="btn btn-success">
            </div>


            {{ form_end(form_subscription) }}
        </div>
    </div>

{% endblock %}
