{% extends 'app.html.twig' %}

{% block title %}Ajouter un Document {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(form_file) }}
            {{ form_errors(form_file) }}
            <h2 class="p-2"> Ajouter une facture au client {% if client.getSurname is not empty or client.getName is not empty %} [{{ client.getSurname}} {{ client.getName }} {% endif %}] :</h2>
            <div class="row">
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_file.name) }}
                </div>
                <div class="col-12 col-sm-6 mt-2">
                    {{ form_row(form_file.filename) }}
                </div>
                <div class="col-12 mt-2">
                    <br>
                    {% if contract is not null %}
                        <p>Ce document est déjà lié au contrat <strong>{{ contract.getTitle }}</strong>.</p>
                    {% else %}
                        <p>Cette document n'est actuellement lié à aucun contrat.</p>
                    {% endif %}
                    {{ form_row(form_file.contract) }}
                </div>
            </div>

            <div class="p-2" align="center">
                <input type="submit" value="Modifier le document" class="btn btn-primary">
                <a href="{{ path('app_document_file_delete', {file: file_id}) }}" class="btn btn-danger delete_document">Supprimer la facture</a>
            </div>

            {{ form_end(form_file) }}
        </div>
    </div>

    {{ encore_entry_script_tags('edit_client_js') }}


{% endblock %}
