{% extends 'app.html.twig' %}

{% block title %}Contrat{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-header">

                </div>
                <div class="card-body">
                    {{ form_start(form_contract) }}
                    {{ form_errors(form_contract) }}
                    <div class="row">
                        <div class="col-12 mt-2">
                            <label for="">Titre :</label><br>
                            {{ form_row(form_contract.title) }}
                        </div>
                        <div class="col-12 mt-2">
                            <label for="">Type de contrat :</label><br>
                            {{ form_row(form_contract.contract_type) }}
                        </div>
                        <div class="col-12 col-sm-12 col-lg-6 mt-2">
                            <label for="">Debut du contrat le :</label> <br>
                            {{ form_row(form_contract.start_at) }}
                        </div>
                        <div class="col-12 col-sm-12 col-lg-6 mt-2">
                            <label for="">Fin du contrat le :</label><br>
                            {{ form_row(form_contract.end_at) }}
                        </div>
                        <div class="col-12 col-sm-12 col-lg-6 mt-2">
                            <label for="">Prochain payement le :</label><br>
                            {{ form_row(form_contract.next_payment_at) }}
                        </div>
                        <div class="col-12 col-sm-12 col-lg-6 mt-2">
                            <label for="">Montant :</label><br>
                            {{ form_row(form_contract.price) }}
                        </div>
                        <div class="col-12 mt-2">
                            <label for="">Etat du contrat :</label><br>
                            {{ form_row(form_contract.state) }}
                        </div>
                        <div class="col-12 mt-2" align="center">
                            <input type="submit" value="Modifier les informations" class="btn btn-primary">
                            {% if contract.nextPaymentIsValid %}
                            <a href="{{ path('app_client_contract_nextpayment', {contract: contract.getId}) }}" class="btn btn-secondary">Paiement du {{ contract.getNextPaymentAt|date('j/m/Y') }} reçu</a>
                            {% endif %}
                        </div>
                    </div>
                    {{ form_end(form_contract) }}
                </div>
            </div>



            <!-- Documents -->



            <div class="accordion pt-2" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Facture(s)
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if contract.getInvoices is empty %}
                                <strong>Aucune facture crée pour ce client.</strong>
                            {% else %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Prix</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Consulter</th>
                                        <th scope="col">Supprimer</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for invoice in contract.getInvoices %}
                                        <tr>
                                            <th scope="row">{{ invoice.getId }}</th>
                                            <td>{{ invoice.getName }}</td>
                                            <td>{{ invoice.getPrice }}€</td>
                                            <td>{{ invoice.getCreatedAt|date('j/m/Y') }}</td>
                                            <td><a href="{{ path('app_document_invoice_view', {invoice: invoice.getId}) }}" target="_blank" class="btn btn-primary">Voir la Facture</a></td>
                                            <td><a href="{{ path('app_document_invoice_edit', {invoice: invoice.getId}) }}" class="btn btn-info">Modifier</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFile">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFile" aria-expanded="false" aria-controls="collapseFile">
                            Document(s) divers
                        </button>
                    </h2>
                    <div id="collapseFile" class="accordion-collapse collapse" aria-labelledby="headingFile" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            {% if contract.getFiles is empty %}
                                <strong>Aucun Document crée pour ce client.</strong>
                            {% else %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nom</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Consulter</th>
                                        <th scope="col">Modifier</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for file in contract.getFiles %}
                                        <tr>
                                            <th scope="row">{{ file.getId }}</th>
                                            <td>{{ file.getName }}</td>
                                            <td>{{ file.getCreatedAt|date('j/m/Y') }}</td>
                                            <td><a href="{{ path('app_document_file_view', {file: file.getId}) }}" target="_blank" class="btn btn-primary">Voir le document</a></td>
                                            <td><a href="{{ path('app_document_file_edit', {file: file.getId}) }}" class="btn btn-info">Modifier</a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ encore_entry_script_tags('add_client_js') }}
{% endblock %}
